/* google font use  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');


html{
    font-family: 'Open Sans Condensed', sans-serif;
    
}
body{
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
}
.container{
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.1) 30%,#1b2c4954,#050b165b, rgba(0,0,0,0.9)), url(bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: -20px;
    padding: 0;
    color: white;
}


/* Navigation design */

nav{
    margin: 20px 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    /* background-color: black; */
}
.logo{
    overflow: hidden;
    transition: transform .1s;
    opacity: 0.7;
}

.logo img{
    width: 30px;
    height: 35px;
    margin-left: 5px;
    margin-top: 5px;
    

    
}

.links ul{
    list-style: none;
    display: flex;
}

.links ul li{
    margin-right: 15px;
    font-size: 1em;
    font-weight: 300;
    opacity: 0.7;
    transition: border-bottom 1s ease-in-out;
    
}


.links ul li::after{
    content: "";
    width:0;
    height: 2px;
    background-color: rgb(235, 61, 30);
    margin: auto;
    display: block;
    transition: width 0.5s;
}

.links ul li:hover::after{
    width: 100%;
}

.links ul li:hover{
    opacity: 1;
}

.logo:hover{
    transform: scale(1.1);
    opacity: 1;
}



.purchase{
    /* border: 2px solid rgb(235, 34, 8); */
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to left,rgb(255, 255, 255), rgb(20, 20, 20), rgb(243, 39, 3)) 1;
    padding: 0 5px;
    background-color: transparent;
    animation:bBlink 1s infinite;


}


@keyframes bBlink {
    0% {
        color: #f00;
        
    }
    
    100% {
        color: #fff;

    }
}
.purchase:hover{
    background-color: rgb(255, 255, 255);
    color: black !important;
    border: 2px solid white;
    animation-play-state: paused;

}


/* background design */

.page-background{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}


.page-background h1{
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 1.5rem;
    margin: 200px auto -20px;
    
}

.text-color{
    color: rgb(192, 0, 0);
    
}

.page-background p{
    font-size: 2em;
    font-weight: 400;
    text-align: center;

}


.btn-grad {
   background-color: transparent;
   margin: 10px;
   padding: 10px 25px;
   text-align: center;           
   border-radius: 15px;
   display: block;
   width: 120px;
   font-weight: 700;
   opacity: 0.7;
   box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
 }

.btn-grad:hover {

   color: black;
   text-decoration: none;
   background-color: rgba(221, 202, 35, 0.377);
   opacity: 1;

 }

 .effect{
     position: absolute;
     top: 35vh ;
     left: -90px;
 }

.butterfly{
    width: 90px;
    height: 90px;
    animation: flying 5s linear 0.5s 1 alternate forwards;
    animation-play-state: running;
    position: relative;
}
@keyframes flying {
    0%{
        transform: translate(0,0);
        width: 20%;
        height: 20%;
    }
    25%{
        width: 40%;
        height: 40%;
    }

   
    50%{
        
        width:60%;
        height: 60%;
    }
    75%{

        width: 80%;
        height: 80%;
    }
    100%{
        transform: translate(48vw,0vh)rotate(10deg);
        width: 100%;
        height: 100%;
        /* transform: translate(35vw,35vh)rotate(0deg); */
        
    }
   
    
}





 